.env
.env.dev
.env.test
.env.prod

.venv
.vscode

.pytest_cache
.ruff_cache
__pycache__/

*.py[oc]
*.db
*.egg-info
*.log
*.err
*.crt
*.key

build/
dist/
wheels/
logs/
local_database/

script.py
project.txt
